html{
    scroll-behavior: smooth; /*to make endQuiz go up smoother*/

    height: 100%;
}
body{
    margin: 0;
    padding: 0;

    background-color: #001F3F;

    font-family: sans-serif, monospace;
    font-size: 1.5rem;
    

    color: #EAD8B1;

    min-height: 100%;

    display: flex;
    flex-direction: column;

  
}

h1{
    margin-bottom: 0;

    font-size: 3rem;
    font-weight: 700;

    color: #EAD8B1;
    letter-spacing: 2px;
}

footer {
    background-color: #333;
    color: #EAD8B1;
    padding: 1em;

    margin-top: auto;

    animation-name: fadeInFromBottom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transition: ease-in;
}

@media (max-width:600px) {
    h1{
        font-size: 2rem;

    }
    .subTitle{
        font-size: 1rem;

        margin: 0 1em;
    }
    
}
img{
    width: 100%;
    margin: 0.5em auto;
}
.container{
    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
.hidden {
    display: none;
}
/*Title*/
#time{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
}
.titleContainer{
    animation-name: fromTop;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transition: ease-in;

    text-align: center;

 
}
.title{
    padding: 0.5em 1em;
}
.subTitle{
    color: #6A9AB0;
}
/*Start the quiz*/
#startQuizContainer{
    margin: 4em 1em;
    padding: 0.5em 1em;

    font-weight: 700;
    font-size: 2rem;

    border: 2px solid #6A9AB0;
    border-radius: 7px;

    cursor: pointer;



    animation-name: fadeInFromBottom;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-delay: 1s;
    transition: ease-in;

    transition: color 0.2s, background-color 0.2s, border 0.2s;
}

#startQuizContainer:hover{
   
    border: 2px solid #6A9AB0;
    background-color: #EAD8B1;

    color: #001F3F;
    
    
}
.fadeOut{
    
    animation-name: fadeOut ;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition: ease-in;

}
/*Questions*/
.questionContainer{
    order:3;

    border: 2px solid #6A9AB0;
    border-radius: 30px;

    margin: 1em auto;
    padding: 0.5em;

    max-width: 600px;
    width: 70%;
    
    font-size: 1.25rem;

    animation-name: fromRight;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-delay: 0.5;
    transition: ease-in;
}
.questionContents{
    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 2rem;
}
.question{
   text-align: center;
   font-size: 1rem;
}
.questionContainer.correct{
    border-color: #109648;
}
.questionContainer.wrong{
    border-color: #c33149;
}
.questionContainer.empty{
    border-color: gray;
}

.answer{
    margin: 0.5em;
    padding: 0.5em 1em;

    border: 1px solid #3A6D8C;
    border-radius: 20px;

    cursor: pointer;
    transition: background-color 0.5s, color 0.5s ;

    font-size: 1rem;
}
.answer:hover{
    
    background-color: #EAD8B1;
    color: #3A6D8C;
    
}
.answer.selected {
    border-color: #EAD8B1;
    background-color: #EAD8B1;
    color: #3A6D8C;
}
.answer.correct{
    border-color: #109648;
    background-color: #109648;
    color: #001F3F;
}
.answer.wrong{
    border-color: #c33149;
    background-color: #c33149;
    color: #001F3F;
}

#endQuizContainer{
    order: 99;

    margin: 1em 1em;
    padding: 0.5em 1em;

    border: 2px solid #6A9AB0;
    border-radius: 20px;
    
    font-weight: 700;
    text-decoration: inherit;

    color: #EAD8B1;

    transition: 0.3s ease-in;

}
#endQuizContainer:hover{
   background-color: #EAD8B1;
   color: #001F3F;

}
.resultsContainer{
    padding: 0.5em 1em;
    margin: 1em 1em;

    border: 2px solid #3A6D8C;
    border-radius: 20px;
  


}

.correctResult{
    margin: 0.25em 0.5em;

    color: #109648;
}
.wrongResult{
    margin: 0.25em 0.5em;

    color: #c33149;
}
.emptyResult{
    margin: 0.25em 0.5em;

    color: gray;
}
.divider{
    min-height: 100px;
    border: 1px solid #6A9AB0;
    opacity: 0.3;
    margin: 0 1em;
}
#footContainer{
    width: 100%;
    flex-direction: row;

    justify-content: space-evenly;
}
.afachContainer{
    width: 40%;

   padding: 0.25em 0.25em;
   margin-left: 0.5em;

   display: flex;
   flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    
}
.denizContainer{
    width: 40%;

    padding: 0.25em 0.25em;
    margin-right: 0.5em;

    display: flex;
    flex-direction: column;
 
    justify-content: center;
    align-items: center;
 
    
}
.footTitle{
    font-size: 0.75rem;

    color: #EAD8B1;
    text-align: center;
    font-weight: 700;
    margin-bottom: 0.25em;

    min-width: 180px;

    white-space: nowrap
}
@media (min-width:900px) {
    .footTitle{
        font-size: 1.5rem;
    
    }
}
.footName{
    margin-bottom: 0.3em;
    text-align: center;
    color: #6A9AB0;

    white-space: nowrap;
}
.footLogosContainer{
    display: flex;

    padding: 0 1em;
    justify-content: space-evenly;
    align-items: center;

}
.footLogosContainer i{
    margin: 0 0.5em;

    font-size: 2rem;
    cursor: pointer;

    color: #6A9AB0;
    text-decoration: none !important;
}

/*Animatons*/
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeOutToLeft {
    from{
        transform: translateX(0);
        opacity: 1;
    }
    to{
        transform: translateX(-100px);
        opacity: 0;
    }
}
@keyframes fadeInFromBottom {
    from{
        transform: translateY(50px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fromTop {
    from{transform: translateY(-30px);
         opacity: 0;}

    to{transform: translateY(0);
        opacity: 1;}
}

@keyframes fromRight {
    from{transform: translateX(130px);
        opacity: 0;}

   to{transform: translateX(0);
       opacity: 1;}
}